@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideRightLoop {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translateX(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slideRightLoop {
  animation: slideRightLoop 6s ease-in-out infinite;
}